@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=PT+Mono&display=swap');

:root {
    /***** COLORS *****/
    --fg-color-primary: oklch(0.22 0.0078 97.46);
    --fg-color-secondary: oklch(0.50 0.0078 97.46);
    --color-border: oklch(0.85 0.0151 102.5);
    --color-case-border: oklch(0.94 0 0);
    --bg-color: oklch(0.98 0 0);
    --bg-card: oklch(0.95 0 0);
    --hl-color: oklch(0.88 0.0289 228.09);
    --fg-color-gray: oklch(0.58 0.0045 106.54);
    --decoration-color: oklch(0.31 0.0711 253.48);

    --tag-gray-bg: oklch(0.89 0.005 106.45);
    --tag-blue-bg: oklch(0.89 0.06 228.09);
    --tag-red-bg: oklch(0.89 0.06 36.36);
    --tag-purple-bg: oklch(0.89 0.05 310.69);
    --tag-cyan-bg: oklch(0.89 0.06 171);
    --tag-green-bg: oklch(0.89 0.06 112.51);
    --tag-orange-bg: oklch(0.89 0.07 61.72);
    --tag-yellow-bg: oklch(0.91 0.09 93.23);
    --tag-magenta-bg: oklch(0.89 0.05 1.83);

    --tag-gray-fg: oklch(0.32 0.005 84.58);
    --tag-blue-fg: oklch(0.32 0.09 253.48);
    --tag-red-fg: oklch(0.32 0.09 26.31);
    --tag-purple-fg: oklch(0.32 0.08 296.46);
    --tag-cyan-fg: oklch(0.32 0.08 188.78);
    --tag-green-fg: oklch(0.32 0.08 121.85);
    --tag-orange-fg: oklch(0.32 0.09 47.52);
    --tag-yellow-fg: oklch(0.32 0.09 88.38);
    --tag-magenta-fg: oklch(0.32 0.09 347.6);

    /***** FONTS *****/
    --font-family-mono: 'PT Mono', monospace;
    --font-family-sans: 'IBM Plex Sans', sans-serif;

    --font-size-base: 1rem;
    /* 16px */
    --font-size-sm: 0.875rem;
    /* 14px */
    --font-size-xs: 0.75rem;
    /* 12px */
    --font-size-xxs: 0.688rem;
    /* 11px */
    --font-size-lg: 1.25rem;
    /* 20px */
    --font-size-city: 0.906rem;
    /* 14.5px */
    --font-size-city-md: 0.844rem;
    /* 13.5px */

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    --line-height-base: 1.563;
    --line-height-sm: 1.5;
    --line-height-xs: 1.35;
    --line-height-xss: 1.25;
    --line-height-equal: 1;

    /***** BORDER RADIUS *****/
    --border-radius-xxs: 2px;
    --border-radius-xs: 4px;
    --border-radius-md: 12px;
}

/***** LAYOUT *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-size: var(--font-size-base);
    text-align: left;
    background-color: #f5f5f5;
    font-family: var(--font-family-sans);
    font-variant-numeric: slashed-zero;
    line-height: var(--line-height-base);
    color: var(--fg-color-primary);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 20px;
}

.main {
    padding-top: 5rem;
    flex-grow: 1;
}

section {
    margin-bottom: 24px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    border-width: 0;
    height: 1px;
    width: 100%;
    background-color: var(--color-border);
}

.footer {
    margin-top: 5rem;
}

/***** HEADER *****/
.header {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    align-items: baseline;
    margin-bottom: 0px;
}

.h1 {
    font-family: var(--font-family-mono);
    text-align: center;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: var(--line-height-xs);
}

.button {
    color: var(--fg-color-primary);
}

.link {
    font-family: var(--font-family-mono);
    text-decoration: none;
    color: var(--fg-color-primary);
}

.button {
    display: block;
    cursor: pointer;
    font-size: var(--font-size-base);
    line-height: var(--line-height-xs);
}

.arrow {
    font-family: var(--font-family-mono);
    display: inline;
    text-decoration: none;
    color: var(--color-border);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: var(--line-height-xs);
    transition: color 0.3s ease;
    margin-right: 4px;
}

.span-inline {
    display: inline;
    transition: color 0.3s ease, border-color 0.3s ease;
    border-bottom: 1px solid var(--color-border);
}

.arrow:hover {
    color: var(--fg-color-primary);
}

.span-inline:hover {
    border-color: var(--fg-color-primary);
    color: var(--fg-color-primary);
}

.button:hover .arrow {
    color: var(--fg-color-primary);
    border-color: var(--fg-color-primary);
}

.button:hover .title {
    color: var(--fg-color-primary);
    border-color: var(--fg-color-primary);
}

.main-tags {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.cyan {
    background-color: var(--tag-cyan-bg);
    color: var(--tag-cyan-fg);
}

.yellow {
    background-color: var(--tag-yellow-bg);
    color: var(--tag-yellow-fg);
}

.tag {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    padding: 2px 6px;
    border-radius: var(--border-radius-xs);
    white-space: nowrap;
}

/***** BASICS *****/
.h2 {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 0.5rem;
}

.group-name {
    display: block;
    text-transform: uppercase;
    font-size: var(--font-size-xs);
    margin-bottom: 2px;
}

.p {
    margin-bottom: 16px;
}

.p-space {
    padding-left: 12px;
}

.p-margin-sm {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-regular);
    margin-bottom: 0.5rem;
}

.list {
    margin-bottom: 16px;
}

.list-title {
    list-style: none;
    margin-bottom: 4px;
}

.ol-list-title {
    margin-bottom: 4px;
}

.ul-list, .ol-list {
    padding-left: 24px;
}

.list-item {
    margin-bottom: 2px;
}

.caption {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    margin-bottom: 4px;
    color: var(--fg-color-secondary);
}

.ol-list-item {
    padding-left: 2px;
    margin-bottom: 12px;
}

.btm-margin {
    margin-bottom: 18px;
}

/***** HIGHLIGHTS *****/
.cards {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card {
    background-color: var(--bg-card);
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius-md);
}

.user {
    display: flex;
    gap: 0.75rem;
}

.main-idea p {
    margin-bottom: 6px;
}

.main-idea p:first-child {
    font-weight: var(--font-weight-semibold);
}

.bg-color {
    background-color: var(--hl-color);
    border-radius: 3px;
    padding: 0px 2px;
}

/***** IMAGES *****/
.case-image {
    margin-bottom: 1.5rem
}

.case-image-style {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius-md);
    margin-bottom: 0.5rem;
    border: 1px solid var(--color-case-border);
    cursor: zoom-in;
}

.stage-2 img {
    margin-bottom: 1rem;
}

/***** IMAGE ZOOM *****/
.image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    transform: scale(0.9);
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.8);
    }
}

/* MD-SIZE */
@media (max-width: 660px) {
    .main {
        padding-top: 1.25rem;
    }

    .container {
        padding: 0 20px;
    }

    .body {
        line-height: var(--line-height-sm)
    }

    .header {
        grid-template-columns: 0.5fr 1.5fr;
    }

    .h1 {
        font-size: inherit;
        text-align: end;
    }

    .button,
    .arrow {
        font-size: inherit;
    }

    .h2 {
        font-size: inherit;
        line-height: inherit;
    }

    .p-margin-sm {
        font-size: inherit;
        line-height: inherit;
    }

    .footer {
        margin-top: 4rem;
    }

    .main-tags {
        display: none;
    }

    .image-modal {
        padding: 0;
    }

    .modal-content {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0;
        transform: scale(1);
    }
}