@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=PT+Mono&family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    /***** COLORS *****/
    --fg-color-primary: #2a2828;
    --fg-color-secondary: #6F6E69;
    --color-border: #CECDC3;
    --color-case-border: #ebebeb;
    --bg-color: #f5f5f5;

    /***** TAG COLORS *****/
    --tag-gray-bg: #e1e1df;
    --tag-gray-fg: #343331;
    --tag-blue-bg: #C6DDE8;
    --tag-blue-fg: #133153;
    --tag-red-bg: #FFCABB;
    --tag-red-fg: #551b18;
    --tag-purple-bg: #E2D9E9;
    --tag-purple-fg: #31234E;
    --tag-cyan-bg: #BFE8D9;
    --tag-cyan-fg: #143F3C;
    --tag-green-bg: #DDE2B2;
    --tag-green-fg: #313D07;
    --tag-orange-bg: #FED3AF;
    --tag-orange-fg: #59290D;
    --tag-yellow-bg: #F6E2A0;
    --tag-yellow-fg: #503D02;
    --tag-magenta-bg: #FCCFDA;
    --tag-magenta-fg: #4F1B39;

    /***** FONTS *****/
    --font-family-mono: 'PT Mono', monospace;
    --font-family-sans: 'Commissioner', sans-serif;

    --font-size-base: 1rem;
    /* 16px */
    --font-size-sm: 0.875rem;
    /* 14px */
    --font-size-xs: 0.75rem;
    /* 12px */
    --font-size-xxs: 0.688rem;
    /* 11px */
    --font-size-lg: 1.25rem;
    /* 20px */
    --font-size-city: 0.906rem;
    /* 14.5px */
    --font-size-city-md: 0.844rem;
    /* 13.5px */

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    --line-height-base: 1.5;
    --line-height-sm: 1.4;
    --line-height-xs: 1.3;
    --line-height-xss: 1.2;
    --line-height-equal: 1;

    /***** BORDER RADIUS *****/
    --border-radius-xxs: 2px;
    --border-radius-xs: 4px;
    --border-radius-md: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-size: var(--font-size-base);
    background-color: var(--bg-color);
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    color: var(--fg-color-primary);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 624px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}

.first-section {
    margin-bottom: 64px;
}

.main {
    padding-top: 5rem;
    flex-grow: 1;
}

.h1 {
    font-family: serif;
    font-family: var(--font-family-mono);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 0.25rem;
}

.description {
    line-height: var(--line-height-base);
    margin-bottom: 0.75rem;
}

.location {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 1rem;
}

.hrodna {
    border-radius: var(--border-radius-xxs);
}

.city {
    font-size: var(--font-size-city);
    color: var(--fg-color-secondary);
}

hr {
    height: 0;
    border: none;
    border-top: 0.5px solid var(--color-border);
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.cases-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.case-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.case-1,
.case-2,
.case-3 {
    border: 1px solid var(--color-case-border);
}

.case-3-images {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: stretch;
}

.case-3-images img {
    flex: 1;
}

.case-image-style {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius-md);
}

.h3 {
    display: block;
    cursor: pointer;
    margin-bottom: 6px;
}

.arrow {
    display: inline;
    text-decoration: none;
    color: var(--color-border);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: var(--line-height-equal);
    transition: color 0.3s ease;
    margin-left: 1px;
}

.span-inline {
    transition: color 0.3s ease, border-color 0.3s ease;
    border-bottom: 1px solid var(--color-border);
    line-height: var(--line-height-equal);
}

.arrow:hover {
    color: var(--fg-color-primary);
}

.case-item:last-child {
    margin-bottom: 8px;
}

.title {
    text-decoration: none;
    color: var(--fg-color-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: var(--line-height-xs);
}

.span-inline:hover {
    border-color: var(--fg-color-primary);
    color: var(--fg-color-primary);
}

.h3:hover .title {
    color: var(--fg-color-primary);
    border-color: var(--fg-color-primary);
}

.h3:hover .arrow {
    color: var(--fg-color-primary);
    border-color: var(--fg-color-primary);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

.tag {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    padding: 2px 6px 1px 6px;
    border-radius: var(--border-radius-xs);
    white-space: nowrap;
}

.main-tags {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.languages {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.gray {
    background-color: var(--tag-gray-bg);
    color: var(--tag-gray-fg);
}

.blue {
    background-color: var(--tag-blue-bg);
    color: var(--tag-blue-fg);
}

.red {
    background-color: var(--tag-red-bg);
    color: var(--tag-red-fg);
}

.purple {
    background-color: var(--tag-purple-bg);
    color: var(--tag-purple-fg);
}

.cyan {
    background-color: var(--tag-cyan-bg);
    color: var(--tag-cyan-fg);
}

.green {
    background-color: var(--tag-green-bg);
    color: var(--tag-green-fg);
}

.orange {
    background-color: var(--tag-orange-bg);
    color: var(--tag-orange-fg);
}

.yellow {
    background-color: var(--tag-yellow-bg);
    color: var(--tag-yellow-fg);
}

.magenta {
    background-color: var(--tag-magenta-bg);
    color: var(--tag-magenta-fg);
}

.h2 {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    margin-bottom: 6px;
    color: var(--fg-color-secondary);
    font-weight: var(--font-weight-regular);
}

.margin-14 {
    margin-bottom: 14px;
}

.margin-9 {
    margin-bottom: 9px;
}

.education-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 2px
}

.uni {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
}

.subject-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.year,
.subject {
    font-size: var(--font-size-sm);
    color: var(--fg-color-secondary);
}

.title-ed {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    color: var(--fg-color-primary);
}

.footer {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.color-squares-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 20%;
    max-width: 100%;
    overflow: hidden;
}

.footer-square {
    position: absolute;
    width: 9%;
    height: auto;
    object-fit: contain;
    transform-origin: center center;
}

.square-red-ft {
    top: 55%;
    left: 3%;
    transform: rotate(-10deg);
}

.square-violet-ft {
    top: 65%;
    left: 28%;
    transform: rotate(45deg);
}

.square-blue-ft {
    top: 33%;
    left: 58%;
    transform: rotate(35deg);
}

.square-magenta-ft {
    top: 25%;
    left: 16%;
    transform: rotate(5deg);
}

.square-green-ft {
    top: 65%;
    left: 88%;
    transform: rotate(15deg);
}

.square-yellow-ft {
    top: 69%;
    left: 45%;
    transform: rotate(-13deg);
}

.square-cyan-ft {
    top: 53%;
    left: 70%;
    transform: rotate(0deg);
}

.square-orange-ft {
    top: 6%;
    left: 78%;
    transform: rotate(15deg);
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: var(--fg-color-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: var(--line-height-xs);
    padding-bottom: 0px;
}

.link:hover {
    border-color: var(--fg-color-primary);
}

/* md-size */
@media (max-width: 620px) {
    .main {
        padding-top: 4rem;
    }

    .container {
        padding: 0 16px;
    }

    .body {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
    }

    .cases-container {
        gap: 40px;
    }

    .h3 {
        line-height: var(--line-height-xss);
    }

    .title {
        font-size: var(--font-size-sm);
    }

    .h1 {
        margin-bottom: 0.4rem;
    }

    .description {
        margin-bottom: 0.875rem;
    }

    .hrodna {
        width: 18px;
        height: 18px;
    }

    .city {
        font-size: var(--font-size-city-md);
    }

    .h2 {
        font-size: var(--font-size-xxs);
    }

    .tag {
        font-size: var(--font-size-xxs);
    }

    .uni {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-xs);
    }

    .year,
    .subject {
        font-size: var(--font-size-xs);
        color: var(--fg-color-secondary);
    }

    .title-ed {
        font-size: var(--font-size-sm);
        color: var(--fg-color-primary);
        line-height: var(--line-height-xs);
    }

    .link {
        font-size: var(--font-size-sm);
    }

    .first-section {
        margin-bottom: 56px;
    }

    .subject-container {
        flex-direction: column;
        margin-bottom: 4px;
    }

    .main-tags,
    .languages {
        gap: 6px;
    }

    .case-item {
        gap: 4px;
    }

    .footer {
        margin-top: 4rem;
    }
}