@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=PT+Mono&display=swap');

:root {
    /***** COLORS *****/
    --fg-color-primary: oklch(0.22 0.0078 97.46);
    --fg-color-secondary: oklch(0.50 0.0078 97.46);
    --color-border: oklch(0.85 0.0151 102.5);
    --color-case-border: oklch(0.94 0 0);
    --bg-color: oklch(0.98 0 0);
    --bg-card: oklch(0.95 0 0);
    --hl-color: oklch(0.88 0.0289 228.09);
    --fg-color-gray: oklch(0.58 0.0045 106.54);
    --decoration-color: oklch(0.31 0.0711 253.48);

    --tag-gray-bg: oklch(0.93 0.00527 106.81);
    --tag-blue-bg: oklch(0.89 0.045 228.09);
    --tag-red-bg: oklch(0.89 0.06 36.36);
    --tag-purple-bg: oklch(0.89 0.05 310.69);
    --tag-cyan-bg: oklch(0.89 0.06 171);
    --tag-green-bg: oklch(0.89 0.08 112.51);
    --tag-orange-bg: oklch(0.89 0.07 61.72);
    --tag-yellow-bg: oklch(0.91 0.09 93.23);
    --tag-magenta-bg: oklch(0.89 0.05 1.83);

    --tag-gray-fg: oklch(0.32 0.005 84.58);
    --tag-blue-fg: oklch(0.32 0.09 253.48);
    --tag-red-fg: oklch(0.32 0.09 26.31);
    --tag-purple-fg: oklch(0.32 0.08 296.46);
    --tag-cyan-fg: oklch(0.32 0.08 188.78);
    --tag-green-fg: oklch(0.32 0.08 121.85);
    --tag-orange-fg: oklch(0.32 0.09 47.52);
    --tag-yellow-fg: oklch(0.32 0.09 88.38);
    --tag-magenta-fg: oklch(0.32 0.09 347.6);

    /***** FONTS *****/
    --font-family-mono: 'PT Mono', monospace;
    --font-family-sans: 'IBM Plex Sans', sans-serif;

    --font-size-base: 1rem;
    /* 16px */
    --font-size-sm: 0.875rem;
    /* 14px */
    --font-size-xs: 0.75rem;
    /* 12px */
    --font-size-xxs: 0.688rem;
    /* 11px */
    --font-size-lg: 1.25rem;
    /* 20px */
    --font-size-city: 0.906rem;
    /* 14.5px */
    --font-size-city-md: 0.844rem;
    /* 13.5px */

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    --line-height-base: 1.563;
    --line-height-sm: 1.5;
    --line-height-xs: 1.35;
    --line-height-xss: 1.25;
    --line-height-equal: 1;

    /***** BORDER RADIUS *****/
    --border-radius-xxs: 2px;
    --border-radius-xs: 4px;
    --border-radius-md: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-size: var(--font-size-base);
    background-color: var(--bg-color);
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    color: var(--fg-color-primary);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 664px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}

.first-section, .cases {
    margin-bottom: 64px;
}

.main {
    padding-top: 5rem;
    flex-grow: 1;
}

.h1 {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 0.25rem;
}

.description {
    line-height: var(--line-height-sm);
    margin-bottom: 0.938rem;
}

.location {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 1rem;
}

.hrodna {
    border-radius: var(--border-radius-xxs);
}

.city {
    font-size: var(--font-size-city);
    color: var(--fg-color-secondary);
}

hr {
    height: 0;
    border: none;
    border-top: 0.5px solid var(--color-border);
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.cases-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.case-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.case-1,
.case-2,
.case-3 {
    border: 1px solid var(--color-case-border);
}

.case-3-images {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: stretch;
}

.case-3-images img {
    flex: 1 1 calc(50% - 3px);
    max-width: calc(50% - 3px);
    height: auto;
}

.case-image-style {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    border-radius: var(--border-radius-md);
}

.h3 {
    display: block;
    cursor: pointer;
    margin-bottom: 8px;
}

.arrow {
    display: inline;
    text-decoration: none;
    color: var(--color-border);
    font-family: var(--font-family-mono);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: var(--line-height-equal);
    transition: color 0.3s ease;
    margin-left: 1px;
}

.span-inline {
    transition: color 0.3s ease, border-color 0.3s ease;
    border-bottom: 1px solid var(--color-border);
    line-height: var(--line-height-equal);
}

.arrow:hover {
    color: var(--fg-color-primary);
}

.case-item:last-child {
    margin-bottom: 8px;
}

.title {
    text-decoration: none;
    color: var(--fg-color-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: var(--line-height-xs);
}

.span-inline:hover {
    border-color: var(--fg-color-primary);
    color: var(--fg-color-primary);
}

.h3:hover .title {
    color: var(--fg-color-primary);
    border-color: var(--fg-color-primary);
}

.h3:hover .arrow {
    color: var(--fg-color-primary);
    border-color: var(--fg-color-primary);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

.tag {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    padding: 2px 6px 1px 6px;
    border-radius: var(--border-radius-xs);
    white-space: nowrap;
}

.main-tags {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.languages {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.gray {
    background-color: var(--tag-gray-bg);
    color: var(--tag-gray-fg);
}

.blue {
    background-color: var(--tag-blue-bg);
    color: var(--tag-blue-fg);
}

.red {
    background-color: var(--tag-red-bg);
    color: var(--tag-red-fg);
}

.purple {
    background-color: var(--tag-purple-bg);
    color: var(--tag-purple-fg);
}

.cyan {
    background-color: var(--tag-cyan-bg);
    color: var(--tag-cyan-fg);
}

.green {
    background-color: var(--tag-green-bg);
    color: var(--tag-green-fg);
}

.orange {
    background-color: var(--tag-orange-bg);
    color: var(--tag-orange-fg);
}

.yellow {
    background-color: var(--tag-yellow-bg);
    color: var(--tag-yellow-fg);
}

.magenta {
    background-color: var(--tag-magenta-bg);
    color: var(--tag-magenta-fg);
}

.h2 {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    margin-bottom: 6px;
    color: var(--fg-color-secondary);
    font-weight: var(--font-weight-regular);
}

.margin-14 {
    margin-bottom: 14px;
}

.margin-9 {
    margin-bottom: 9px;
}

.education-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 2px
}

.uni {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
}

.subject-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.year,
.subject {
    font-size: var(--font-size-sm);
    color: var(--fg-color-secondary);
}

.title-ed {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    color: var(--fg-color-primary);
}

.footer {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.color-squares-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 20%;
    max-width: 100%;
    overflow: hidden;
}

.footer-square {
    position: absolute;
    width: 9%;
    height: auto;
    object-fit: contain;
    transform-origin: center center;
}

.square-red-ft {
    top: 55%;
    left: 3%;
    transform: rotate(-10deg);
}

.square-violet-ft {
    top: 65%;
    left: 28%;
    transform: rotate(45deg);
}

.square-blue-ft {
    top: 33%;
    left: 58%;
    transform: rotate(35deg);
}

.square-magenta-ft {
    top: 25%;
    left: 16%;
    transform: rotate(5deg);
}

.square-green-ft {
    top: 65%;
    left: 88%;
    transform: rotate(15deg);
}

.square-yellow-ft {
    top: 69%;
    left: 45%;
    transform: rotate(-13deg);
}

.square-cyan-ft {
    top: 53%;
    left: 70%;
    transform: rotate(0deg);
}

.square-orange-ft {
    top: 6%;
    left: 78%;
    transform: rotate(15deg);
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: var(--fg-color-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: var(--line-height-xs);
    padding-bottom: 0px;
}

.link:hover {
    border-color: var(--fg-color-primary);
}

/* md-size */
@media (max-width: 660px) {
    .main {
        padding-top: 4rem;
    }

    .container {
        padding: 0 16px;
    }

    .body {
        line-height: var(--line-height-base);
    }

    br {
        display: none;
    }

    .city {
        line-height: var(--line-height-sm);
    }

    .h3 {
        line-height: var(--line-height-xss);
        margin-bottom: 6px;
    }

    .h1 {
        margin-bottom: 0.4rem;
    }

    .description {
        margin-bottom: 0.938rem;
        line-height: var(--line-height-sm);
    }

    .uni {
        line-height: var(--line-height-xs);
    }

    .year,
    .subject {
        color: var(--fg-color-secondary);
    }

    .title-ed {
        color: var(--fg-color-primary);
        line-height: var(--line-height-xs);
    }

    .link {
        line-height: var(--line-height-xs);
    }

    .first-section {
        margin-bottom: 56px;
    }

    .subject-container {
        flex-direction: column;
        margin-bottom: 4px;
    }

    .margin-0 {
    margin-bottom: 0;
    }

    .main-tags,
    .languages {
        gap: 6px;
    }

    .case-item {
        gap: 4px;
    }

    .footer {
        margin-top: 4rem;
    }
}